body { 
    --font-monospace: yaheiInconsolata, '更纱黑体 Mono SC Nerd', 'Source Code Pro', monospace;
}

root {
    --default-font: yaheiInconsolata, '更纱黑体 Mono SC Nerd', 'Source Code Pro', Menlo, Monaco, monospace;
    --font-editor-override: yaheiInconsolata, '更纱黑体 Mono SC Nerd', 'Source Code Pro', Menlo, Monaco, monospace;
    --font-monospace: yaheiInconsolata, '更纱黑体 Mono SC Nerd', 'Source Code Pro', monospace;
}

table{
    font-family: yaheiInconsolata, '更纱黑体 Mono SC Nerd', 'Source Code Pro',  -apple-system, Segoe UI;
}

.markdown-preview-view{
    font-family: yaheiInconsolata,'更纱黑体 Mono SC Nerd', 'Source Code Pro',   monospace;
}

.markdown-source-view{
    font-family: yaheiInconsolata, "更纱黑体 Mono SC Nerd", 'Source Code Pro', monospace;
}


.nav-folder-title {
    line-height:1;
    font-size:14px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:1px !important;
    padding-bottom:1px !important;
}


.nav-file-title {
    line-height:1;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:1px;
    padding-left:8px;
    padding-bottom:0px;
}

.tree-item-inner {
    line-height: 1.1; 
}
