body { 
    --font-monospace: '更纱黑体 Mono SC Nerd', 'Source Code Pro', monospace;
}

root {
    --default-font: '更纱黑体 Mono SC Nerd', 'Source Code Pro', Menlo, Monaco, monospace;
    --font-editor-override: '更纱黑体 Mono SC Nerd', 'Source Code Pro', Menlo, Monaco, monospace;
    --font-monospace: '更纱黑体 Mono SC Nerd', 'Source Code Pro', monospace;
}

table{
    font-family: '更纱黑体 Mono SC Nerd', 'Source Code Pro',  -apple-system, Segoe UI;
}

.markdown-preview-view{
	font-family:'更纱黑体 Mono SC Nerd', 'Source Code Pro',   monospace;
	line-height:1.6;
}

// 设置编辑界面
.markdown-source-view{
	font-family: "更纱黑体 Mono SC Nerd", 'Source Code Pro', monospace;
	text-align: justify;
	hyphens: auto;
}

.nav-buttons-container {
    display: flex;
    flex-wrap: wrap;
    padding:1px 1px 0px 4px;
    margin-bottom:0px !important;
    justify-content:flex-start;
    border:0;
}
.nav-files-container {
    overflow-x:hidden;
    line-height:0.8;
    min-width:auto;
    font-size:14px;
    padding:1px 0px 1px 0px;
}
.nav-folder-title {
    margin:0px 0px 1px 0px;
    min-width:auto;
    padding:1px 0px 1px 0px;
    line-height:0.8;
    cursor:var(--cursor);
    margin-left:0px;
    font-size:14px;
}

.nav-file {
    margin-left:4px;
    padding-right:4px;
}
.nav-file-title {
    width:calc(100% - 30px);
    margin:2px 1px 1px 1px;
    padding:2px 2px;
    border-width:0;
    line-height:1;
    border-radius:var(--radius-m);
    cursor:var(--cursor);
    font-size:13px;
}

.nav-folder.mod-root > .nav-folder-title {
    font-size: 16px;
}

.tree-item-inner {
    line-height: 1.1; 
}

.tree-item-self.mod-collapsible {
    padding:0px 0px 1px 10px;
    /* padding: var(--nav-item-parent-padding); */
}

.search-result-file-title {
    margin:0 0 -4px 0;
    border-width:0;
    line-height:1;
    font-size:14px;
}

.side-dock-collapsible-section-header {
    line-height:1;
    color:var(--text-muted);
    cursor:var(--cursor);
    margin-right:0;
    margin-left:0;
}

.menu-item-icon {
    width:14px;
    opacity:0.6;
    position: static;
    margin-right: 3px;
}

.menu-item {
    font-size:0.8em;
    border-radius:var(--radius-m);
    padding:1px 2px 2px 1px;
    margin:0 2px;
    cursor:var(--cursor);
    height:auto;
    line-height:10px;
    display:flex;
    align-items:center;
}

